<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl bg-gradient-to-r from-blue dark:from-tropicalIndigo to-bright-blue dark:to-light-blue bg-clip-text text-transparent">360° Virtual Tours</h1>
      <p class="text-darkBlue dark:text-very-light-grey mx-auto max-w-xl text-lg sm:text-xl">
        Wide range of futurestic services are offered by Digital Endeavours. Consult with us for to provide a solution that best suits your business.
      </p>
    </div>
  </div>
</section>
