<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About DE</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-dark-grey dark:text-very-light-grey text-base sm:text-lg">
          Digital Endeavours is an established company with a rich history spanning Ten years. We specialize in creating high-quality assets for Digital and Virtual Marketing, utilizing cutting-edge technologies such as Matterport 3D tours, 360° Virtual Tours, Google Street View, 360° Land and drone photography. Our extensive portfolio includes the successful delivery of over 700 projects, covering a staggering 4 Million+ square feet of 3D scanned spatial data across Globe for various industries.
        </p>
        <a
          href="/about"
          class="bg-blue dark:bg-bright-blue hover:bg-bright-blue dark:hover:bg-blue focus-visible:outline-blue dark:focus-visible:outline-bright-blue dark:text-primary-950 hover:text-primary-950 dark:hover:text-white inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
