<section
  class="py-16 sm:py-20 bg-cover bg-bottom bg-no-repeat bg-[url('/assets/de-web-banner-light.jpg')] dark:bg-[url('/assets/de-web-banner-dark.jpg')]"
>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-3xl flex-col items-start gap-4 sm:gap-6">
          <h1
            class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl"
          >
            <span
              class="bg-gradient-to-r from-blue dark:from-tropicalIndigo to-bright-blue dark:to-light-blue bg-clip-text text-transparent"
              >Recalibrate</span
            > your Business with Digital & Virtual Reality Technologies
          </h1>
          <p
            class="text-dark-grey dark:text-very-light-grey text-lg sm:text-xl"
          >
            Matterport India 3D Scanning, 360° Virtual Tours, Google Street
            View, 3D/360° Real Estate VR Tours & VR Walkthrough, Google, SEO,
            SMM, Affiliate Marketing.
          </p>
        </div>
        <div class="flex flex-row gap-5 max-sm:flex-col">
          <a
            href="/our_services"
            class="bg-blue dark:bg-bright-blue hover:bg-bright-blue dark:hover:bg-blue focus-visible:outline-blue dark:focus-visible:outline-bright-blue dark:text-primary-950 hover:text-primary-950 dark:hover:text-white inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Explore Our Services
          </a>
          <a
            href="/contact"
            class="bg-orange dark:bg-orange hover:bg-orange/80 dark:hover:bg-orange/80 focus-visible:outline-orange dark:focus-visible:outline-orange dark:text-darkBlue hover:text-darkBlue dark:hover:text-darkBlue inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-darkBlue transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
          >
            Get in Touch
          </a>
        </div>
      </div>

      <div class="[&_[x-cloak]]:hidden" x-data="{ modalOpen: false }">
        <!-- Video thumbnail -->
        <button
          class="relative flex justify-center items-center focus:outline-none focus-visible:ring focus-visible:ring-indigo-300 rounded-3xl group"
          @click="modalOpen = true"
          aria-controls="modal"
          aria-label="Watch the video"
        >
          <img
            class="w-full rounded-3xl shadow-2xl shadow-primary-900/40 dark:shadow-bright-blue/40 transition-shadow duration-300 ease-in-out"
            src="/assets/de-hero-img.jpg"
            alt="Modal video thumbnail"
          />
          <!-- Play icon -->
          <span
            class="absolute animate-ping hover:animate-none hover:hidden bg-bright-blue/90 dark:bg-navyBlue/90 w-12 h-12 rounded-full"
          ></span>
          <svg
            class="absolute pointer-events-none group-hover:scale-110 transition-transform duration-300 ease-in-out"
            xmlns="http://www.w3.org/2000/svg"
            width="72"
            height="72"
          >
            <circle
              class="fill-bright-blue dark:fill-navyBlue"
              cx="36"
              cy="36"
              r="36"
              fill-opacity="1"></circle>
            <path
              class="fill-navyBlue dark:fill-bright-blue drop-shadow-2xl"
              d="M44 36a.999.999 0 0 0-.427-.82l-10-7A1 1 0 0 0 32 29V43a.999.999 0 0 0 1.573.82l10-7A.995.995 0 0 0 44 36V36c0 .001 0 .001 0 0Z"
            ></path>
          </svg>
        </button>
        <!-- End: Video thumbnail -->

        <!-- Modal backdrop -->
        <div
          class="fixed inset-0 z-[99999] bg-black bg-opacity-50 transition-opacity"
          x-show="modalOpen"
          x-transition:enter="transition ease-out duration-200"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-out duration-100"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
          aria-hidden="true"
          x-cloak
        >
        </div>
        <!-- End: Modal backdrop -->

        <!-- Modal dialog -->
        <div
          id="modal"
          class="fixed inset-0 z-[99999] flex px-4 md:px-6 py-6"
          role="dialog"
          aria-modal="true"
          x-show="modalOpen"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0 scale-75"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave="transition ease-out duration-200"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-75"
          x-cloak
        >
          <div
            class="lg:w-3/4 sm:w-full md:w-full mx-auto w-full h-full flex items-center"
          >
            <div
              class="w-full max-h-full rounded-3xl shadow-2xl aspect-video bg-black overflow-hidden"
              @click.outside="modalOpen = false"
              @keydown.escape.window="modalOpen = false"
            >
              <iframe
                x-ref="iframe"
                class="w-full h-full"
                width="560"
                height="315"
                src="https://www.youtube-nocookie.com/embed/D_SJNeUd14k?si=LXXmhDmq_x50w-uZ&controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <!-- End: Modal dialog -->
      </div>
    </div>
  </div>
  <script>
    // Add an event listener to close the modal and pause the video
    document.getElementById("modal").addEventListener("click", function (event) {
        if (event.target === this) {
          // Pause the YouTube video when the modal is clicked outside the video area
          var iframe = this.querySelector("iframe");
          var videoSrc = iframe.src;
          iframe.src = videoSrc;
        }
      });
  </script>
</section>
